@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .btn-blue {
    @apply-group bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
} */

    /* text-xs
    text-white
    md:text-3xl

    sm:(
      dark:(bg-black text-pink-200)
      light:(text-black bg-white hover:(text-gray-500 bg-gray-200))
    )
    md:(
      dark:(text-grey bg-yellow)
      light:(text-grey bg-yellow hover:(text-gray-700 bg-gray-100))
    ) */
@layer components {
  .btn-blue {
    @apply-group 
      text-xs text-white p-2 bg-blue-700
      dark:(text-gray-800 bg-gray-300)
      sm:(
        text-sm p-4
        bg-yellow-700 text-gray-100
        dark:(bg-gray-500 text-white)
      )
      md:(
        text-base p-8
        bg-red-300 text-black
        dark:(bg-gray-800 text-red-100)
      )
  }
}