@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue {
    @apply-group bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}


/* @layer components {
  .btn-blue {
    @apply-group
      mt-4 focus:(ring-none bg-gray-300)
      lg:(
        mt-8 
        focus:(ring-1 bg-black)
      )
      xl:(
      	mt-16
      	focus:(ring-2 bg-pink-800)
      );
  }
} */
